{% load static %}
<li>
    <article class="post">
        <a href="{% url "post-detail-page" slug="the-mountains" %}">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Placeholder Image" id="">
            <div class="post__content">
                <h3>Placeholder Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa ipsum labore
                    quia, quidem quis repellat vel. Aut blanditiis distinctio, earum et illo nesciunt odit
                    officia quae ratione repellat?</p>
            </div>
        </a>
    </article>
</li>