{% extends "base.html" %}
{% load static %}
{% block title %}
    This Post Title
{% endblock %}
{% block css_files %}
     <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>
            Post Title
        </h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="">
            <address>By: Aryan</address>
            <div>
                Last Updated:
                <time>Jan 9th</time>
            </div>
        </article>

    </section>

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi dolore ipsam necessitatibus qui
            recusandae rem sint voluptates! Distinctio ducimus eos esse ex, expedita hic neque ratione saepe veniam
            vitae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet assumenda cumque, dolorem esse et expedita
            facilis hic id, inventore minus nesciunt nostrum quaerat quam quisquam repudiandae similique unde.
            Dolores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam dignissimos dolores et itaque minima
            minus obcaecati quod rem sunt tempore voluptate? Adipisci consequatur, est iste nihil odit rerum
            temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsa ipsam, obcaecati officiis veniam
            vitae. Assumenda distinctio earum fuga in laboriosam minima natus omnis quos repellendus repudiandae saepe
            sunt, voluptatem!</p>
    </main>
{% endblock %}